body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  animation: gradientBackground 15s ease infinite;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  display: flex;
  flex-direction: column;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.content-box {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-brand {
  font-weight: bold;
}

h1 {
  margin-bottom: 20px;
}

.btn {
  margin: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover, .btn-secondary:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

footer {
  background-color: rgba(0, 0, 0, 0.8); /* Darker background */
  color: #f8f9fa;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}


.footer-content a {
  color: #f8f9fa;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-content a:hover {
  color: #0025ff;
}

@media (max-width: 768px) {
  .content-box {
    padding: 15px;
  }

  .btn {
    width: 100%;
    margin: 5px 0;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-content div {
    margin: 5px 0;
  }
}
