{% extends "base.html" %}

{% block title %}Welcome to PassPlease{% endblock %}

{% block content %}
<main>
    <div class="content-box">
        <h1>Welcome to PassPlease</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p>
        <div>
            <a href="/login" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login</a>
            <a href="/register" class="btn btn-secondary"><i class="fas fa-user-plus"></i> Register</a>
        </div>
    </div>
</main>
{% endblock %}